<div class="col-md-8 col-md-offset-2 default-box">
	<div class="row member">
		<div class="col-md-6">
			<%= image_tag @member.gravatar, :alt => @member.name, :class => "img-circle" %>
			<div class="info">
				<strong><%= @member.name %></strong>
	
			</div>
		</div>
		<div class="col-md-6">
		
		</div>
	</div>
</div>
